{% extends "base.html" %}
{% block content %}

<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				{{ section.title }}
			</h1>
			
		</div>
	</div>
</section>
<br><br>

<div class="card">
<article class="media">
	<figure class="media-left">
		<p class="image is-128x128">
		<img src="{{section.extra.image}}" alt="{{section.extra.author}}-profile picture">
		</p>
	</figure>
	<div class="media-content">
		<div class="content">
			<p> {{ section.content | safe }}</p>
		</div>
	</div>
</article>
</div>

{% endblock content %}
